.collection-container {
  padding: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}


.collection-item {
  margin: 12px;
  box-shadow: 10px -8px 0px rgb(253 230 138);
}

.collection-item img {
  height: 150px;
  width: 150px;
  object-fit: contain;
}

.search {
  width: 33%;
  margin: auto;
}




